<h3>{{ subscribemail_header }}</h3>
<div class="career-box">
<p> {{ subscribemail_body }}</p>

                    
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">{{ subscribemail_button }}</a>            
       
<!-- subscribe mailing list popup : starts -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content offer-model-one">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ subscribemail_form_header }}</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
         <div class="row">
                  <div class="col-md-12"><p> {{ subscribemail_form_body }} </p></div>
              </div>
			  
			<div data-alerts="alerts"></div>
			<form{{ attributes }} class="{{ form_class }}">
				<div class="row">
					{{ children }}
				</div>
			</form>
      </div>
      
    </div>
  </div>
</div>