<div class="inner-banner red-strip">
        <div class="row">
            
            <div class="col-md-8">
                
                <div class="red-strip">
                    <div class="col-md-11 col-md-offset-1">
                        {{ content.top_block }}
                    </div>
                </div><!-- /.red-strip -->
                
                
            </div>
			<div class="col-md-4">{{ content.banner }}</div>
        </div>
</div><!-- /.inner-banner -->

<div class="inner-content">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8 col-sm-4 col-xs-12 offers-slider">
                <div id="offers">
                    {{ content.slider_block }}
                    
                </div><!-- /.latest-jobs -->
            </div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				
				{{ content.comments_form_block }}
				
				{{ content.subscribe_mail_block }}

<!-- subscribe mailing list : ends -->
                    
                    
                    
                </div><!-- /.career-box -->
            </div>
			
			 {# content.side_block #}
        </div>
    </div>

</div><!-- /.inner-content -->
